{% extends 'core/base.html' %}

{% block post_includes %}
<script type="text/javascript" 
    src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript" src="/static/js/script.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        getUserLocation(function(userLocation){
            initMap(userLocation);
            initAddrComplete(userLocation);
        });
        $('#id_address').blur(function(){
            setCoordinates();
        });
    });
</script>

{% endblock %}

{% block content %}
<p><a href="/list/">back</a></p>
<h2>New Local:</h2>
<div id="content">
    <div class="divFloat">
        <form action="/add/" method="post">{%csrf_token%}
            <div class="form-group">
                <label for="id_name">Name:</label>
                <input type="text" name="name" id="id_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="id_address">Address:</label>
                <input id="id_address" type="text" name="address" class="form-control">
            </div>
            <input id="id_coordinates" type="hidden" name="coordinates">
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div class="divFloat" id="map_canvas" style="width:600px; height:400px; margin-left:60px;"> </div>
    <div class="floatKill"></div>

</div>
{% endblock %}
