{% extends 'core/base.html' %}

{% block includes %}

<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/static/js/script.js"></script>

{% endblock %}

{% block bodyload %}initialize();{% endblock %}

{% block content %}
<p><a href="/list/">back</a></p>
<h2> Change Local: </h2>

<div id="content" >
    <div class="divFloat">
        <form action="/{{ob_id}}/change/" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <div class="divFloat" id="map_canvas" style="width:300px; height:200px"> </div>
    <div class="floatKill"></div>
</div>
{% endblock %}
