{% extends 'core/base.html' %}

{% block includes %}

<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/static/js/script.js"></script>

{% endblock %}

{% block bodyload %}initialize();{% endblock %}

{% block content %}
<p><a href="/list/">back</a>, <a href="/{{local.id}}/change/"> change</a></p>

<h1>name: {{local.name}}</h1>
<div>
    <h3>address: {{local.address}}</h3>
</div>
<div class="divFloat" id="map_canvas" style="width:300px; height:200px"> </div>
<div class="floatKill"></div>
<br>
<br>

<h2>Comments:</h2>
{% if local.comment_set.all %}

<ul>
{% for com in local.comment_set.all %}
    <li>comment {{forloop.counter}}: {{com.comment}}</li>
    <li>by: {{com.by}}</li>
    <li>date: {{com.date}}</li>
    <br />
{% endfor %}
</ul>
{% else %}
    <p>No comments yet. Do one.</p>
{% endif %}
<br>
<h3>New Comment:</h3>

<form action="/{{local.id}}/" method="post" class="form-horizontal" role="form">{% csrf_token %}
    <br>
    <div class="form-group">
        <label for="id_by" class="col-md-2 control-label">By:</label>
        <div class="col-md-4">
            <input type="text" name="by" maxlength="50" id="id_by" class="form-control" placeholder="who">
        </div>
    </div>
    <div class="form-group">
        <label for="id_comment" class="col-md-2 control-label">Comment:</label>
        <div class="col-md-8">
            <textarea name="comment" cols="50" id="id_comment" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

{% endblock %}
