<!DOCTYPE html>
<html>
<head>
    {% block header %}
        <title>WebDj</title>
        <link rel="stylesheet" type="text/stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/stylesheet" href="/static/css/jumbotron-narrow.css">
        
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        
        {% block includes %}
            <!-- include js, css files and statements... -->
        {% endblock %}
    {% endblock %}
</head>
<body onload="{% block bodyload %}<!--nothing--> {% endblock %}">
    {% block body %}
        body
    {% endblock %}
<br />
<p><a href="/logout/">logout</a> </p>
</body>
</html>

